.img{
    height: 100%;
    width: 100%;
}
.mycard{
    height: 150px;
    width: auto;
}
.card{
    margin: auto;
    color: black;
}
.empty{
    color: black;
    text-align: center;
}
.icon{
    display: block;
    font-size: 90px;
    color: brown;
}
.total{
    display: flex;
    color: black;
    width: 50%;
    margin: auto;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 5px;
}