.categories{
    color: black;
}

.category{
    text-align: center;
    color: black;
}
.category:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(221, 231, 72);
}
.icon{
    font-size: 220%;
}