.link{
    text-decoration:none;
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
}

.link:hover{
    background-color: white;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

.controls{
    display: grid;
}