.link{
    text-decoration:none;
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.link:hover{
    background-color: white;
    text-decoration: none;
    color: black;
}