.data{
    color: black;
    text-align: center;
}

.box{
    margin: auto;
    /* width: 50%; */
}

.field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 3px;
    
}

.key{
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
}

.imageicon{
    font-size: 100px;
    color: grey;
}