@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background: #474bff;
background: -webkit-linear-gradient(308deg, #3438f0 0%, #48cbff 100%);
background: linear-gradient(170deg, #3438f0 0%, #3c87dd 100%);
min-height: 100vh;
  color: white;
}

