.button{
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #474bff;
background: -webkit-linear-gradient(308deg, #3438f0 0%, #48cbff 100%);
background: linear-gradient(170deg, #3438f0 0%, #3c87dd 100%);
    margin: 5px;
    margin-left: 0;
    color: white
}
.button:hover{
    cursor: pointer;
    background: #474bff;
background: -webkit-linear-gradient(308deg, #6567e7 0%, #48cbff 100%);
background: linear-gradient(170deg, #6f71e4 0%, #3c87dd 100%);
}

@media screen and (max-width:700px){
    .button{
        width: 100%;
        margin: 5px auto;
        display: block;
    }
}