.footer{
    background-color:black
}

.icons{
    color: white;
    font-size: 20px;
    margin-left: 3px;
}


.navlink{
    margin: 7px;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}
.active,.inactive{
    color: rgb(238, 183, 81);
    padding: 5px;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    border-radius:2px;
    font-size: medium;
}
/* .drop{
    left: -139px;
} */
.inactive{
    color: white;
}
.inactive:hover{
    color: rgb(238, 183, 81);
}
.active:hover{
    color: rgb(238, 183, 81);
} 
.inactivedrop{
    width: 100%;
    color: white;
} 
 .inactivedrop:hover{
    color: black;
}

.act{
    color: rgb(238, 183, 81);
}
.inact{
    color: white;
    font-family: inherit;
}
.inact:hover{
    color: black;
}

.title{
    color: grey;
}