.footer{
    background: linear-gradient(104.28deg, rgb(72 78 83) 13.04%,rgb(133 137 140) 69.71%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    backdrop-filter: blur(20px);
}

.icons{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
