.title{
    text-align: center;
    background: #474bff;
background: -webkit-linear-gradient(308deg, #3438f0 0%, #48cbff 100%);
background: linear-gradient(170deg, #3438f0 0%, #3c87dd 100%);
    padding: 5%;
    margin-bottom: 30px;
    color: white;
    font-size: 1.5em;
}

@media screen and (max-width:700px){
    .title{
        
        width: 100%;
    }
}